* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

html, body, #root {
  height: 100%;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #68bde1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App .wrapper {
width: 100%;
}

.App h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.App #facebookBtn {
  flex: 1;
  background-color: white;
  color: blue;
  margin: 50px 0;
  appearance: none;
  border: none;
  width: 80%;
  height: 50px;
  border-radius: 8px;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 700;
}


.App footer {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  color: #88ddff;
}
