* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

html, body, #root {
  height: 100%;
}

button {
  appearance: none;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.App {
  height: 100%;
}

.loginComponent {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginComponent h1 {
  font-size: 36px;
  color: #75c9ed;
  font-family: 'Montserrat', sans-serif;
}

.loginComponent #facebookBtn {
  flex: 1;
  background-color: white;
  color: #3088ad;
  margin: 70px 0;
  width: 80%;
  height: 50px;
  border-radius: 15px;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
}


.loginComponent footer {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  color: #bdc3c7;
}

.groupsComponent {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  position: relative;
}

.groupsComponent h1 {
  color: #68bde1;
  padding: 50px 0;
  font-family: 'Montserrat', sans-serif;
}

.groupsComponent button#createGroup {
  flex: 1;
  background-color: #1abc9c;
  color: white;
  margin: 70px 0;
  width: 80%;
  height: 50px;
  border-radius: 15px;
  font-size: 20px;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  position: relative;
  bottom: 0;
}
